*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url('18.jpg');
}

#logo{
    width: 40%;
    margin-bottom: 3rem;
}

#img{
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.container{
    background-color: #fff;
    width: 70%;
}

.active-button{
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 0;
}

.active-button li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
}

i{
    color: violet;
    font-size: 5rem;
}

.active{
    width: 190px;
}


.active-button::before{
    content: '';
    height: 4px;
    width:87%;
    background-color:grey;
    position: absolute;
    top: 25%;
    left: 10%;
    transform: translateY(-50%);
    transition: 0.4s ease;
}


.active-button li.active:not(:nth-child(5)) .round-btn::before{
    background: rgb(62,28,79);
    background: linear-gradient(90deg, rgba(62,28,79,1) 29%, rgba(158,60,126,1) 100%);
}

.active-button li .round-btn{
    background-color: rgb(185, 180, 180);
    width: 1.5rem;
    border-radius: 50%;
    text-align: center;
    
}



.active-button li.active .round-btn{
    background: rgb(62,28,79);
    background: linear-gradient(90deg, rgba(62,28,79,1) 29%, rgba(158,60,126,1) 100%);
    color: white;
}

.form-box{
    display: none;
}

.form-box.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


#submit,#previous,#next{
    display: none;
}

#submit.active{
    display: flex;
    background:  rgba(158,60,126,1);
    color: white;
    width: fit-content;
}

#previous.active{
    display: flex;
    background: rgb(62,28,79);
    background: linear-gradient(90deg, rgba(62,28,79,1) 29%, rgba(158,60,126,1) 100%);
    color: white;
    width: fit-content;
}


#next.active{
    display: flex;
    background:  rgba(158,60,126,1);
    color: white;
    width: fit-content;
}
    

.button-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.btn{
    margin: 0.5rem;
}

.form-content-box{
    width: 80%;
}